/* for mobile screen */
@media screen and (max-width:576px) {

    /* Nav section styles */
    .nav-container,
    .nav-container ul {
        flex-direction: column;
    }

    .nav-container ul,
    .nav-container h3 {
        width: 100%;
    }

    .nav-container ul {
        gap: 30px;
    }



    /* banner section styles */

    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
        padding: 10px;
    }

    .banner-content-container,
    .banner-image-container {
        width: 100%;
    }

    .banner-content-container {
        padding: 0 20px 0 30px;
    }



    /* Team section styles */
    .team-section-container {
        flex-direction: column;
    }

    .team-section-item {
        width: 100%;
        padding: 0 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .team-content-coantianer>p {
        text-align: center;
    }


    /* play-game now  */
    .play-Game-now-container {
        flex-direction: column-reverse;
    }

    .play-game-now-image-container {
        width: 90%;
        margin-left: 30%;
    }

    .play-game-now-content {
        width: 90%;
        align-items: center;
        text-align: center;
        margin-top: -50px;
    }

    /* Play-Game online section styles */
    .play-game-online-now {
        flex-direction: column;
    }


    .play-game-online-now-image-container {
        width: 80%;
        margin-top: 80px;
        margin-right: 40px;
    }


    .play-now-image-postion {
        bottom: 120px;
        left: 270px;
        width: 40%;
    }


    .play-game-online-now-content-container {
        width: 90%;
    }

    /* gammer button section styles */

    .gamers-buttons-container {
        margin-top: 20px;
        flex: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        justify-content: center;
        align-content: center;
    }

    .gamer-btn,
    .gamer-btn a {
        width: calc((33vw) - 20px);
        font-size: .7rem;
        gap: 1px;
    }


    /* career section styles */
    .carear-section-contianer {
        margin-top: 100px;
        flex-direction: column;
        margin-right: -30px;
    }

    .carear-content-container {
        width: 90%;
    }

    .carear-image-container {
        width: 90%;
    }


    /* footer section mobile size */
    footer {
        margin-right: -30px;
    }

    .footer-icons-social,
    .our-policy-list,
    footer ul {
        flex-direction: column;
        text-align: center;
    }

}







/* for tablet users */
@media screen and (min-width:577px) and (max-width:900px) {

    /* nav section styles */
    .nav-container {
        padding-left: 60px;
    }



    /* banner section styles */
    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
        padding: 10px;
    }

    .banner-content-container {
        width: 100%;
    }

    .banner-image-container {
        width: 70%;
    }

    /* Team section styles */
    .team-section-container {
        flex-direction: column;
    }

    .team-section-item {
        width: 100%;
        padding: 0 30px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .team-content-coantianer>p {
        text-align: center;
    }

    /* play-game now online  */
    .play-game-now-content {
        padding-right: 30px;
    }

    /* Play-Video section styles */
    .play-now-image-postion {
        bottom: 100px;
        left: 220px;
        width: 40%;
    }

    /* Gamer-button section styles */

    .gamers-buttons-container {
        margin-top: ;
        flex: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        justify-content: center;
        align-content: center;
    }

    .gamer-btn {
        width: calc((33vw) - 20px);
        gap: 1px;
    }

    /* career section styles */
    .carear-section-contianer {
        flex-direction: column;
        margin-right: -30px;
    }

    .carear-content-container {
        width: 90%;
    }

    .carear-image-container {
        width: 90%;
    }

    /* footer */
    footer {
        margin-right: -20px;
    }


}