/* for mobile screen */
@media screen and (max-width:576px) {

    .nav-container,
    .nav-container ul {
        flex-direction: column;
    }

    .nav-container ul,
    .nav-container h3 {
        width: 100%;
    }

    .nav-container ul {
        gap: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
        padding: 10px;
    }



    .banner-content-container {
        padding: 0 20px 0 30px;
    }



    .play-game-online-now {
        flex-direction: column;
    }


    .play-game-online-now-image-container {
        width: 80%;
        margin-top: 80px;
        margin-right: 40px;
    }


    .play-now-image-postion {
        bottom: 120px;
        left: 270px;
        width: 40%;
    }


    .play-game-online-now-content-container {
        width: 90%;
    }


    .gamers-buttons-container {
        margin-top: ;
        flex: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        justify-content: center;
        align-content: center;
    }

    .gamer-btn,
    .gamer-btn a {
        width: calc((33vw) - 20px);
        font-size: .7rem;
        gap: 1px;
    }


    /* footer section mobile size */
    footer {
        margin-right: 0px;
    }

    .footer-icons-social,
    .our-policy-list,
    footer ul {
        flex-direction: column;
        text-align: center;
    }

}







/* for tablet users */
@media screen and (min-width:577px) and (max-width:900px) {

    .nav-container {
        padding-left: 60px;
    }

    .play-now-image-postion {
        bottom: 100px;
        left: 220px;
        width: 40%;
    }

    .gamers-buttons-container {
        margin-top: ;
        flex: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        justify-content: center;
        align-content: center;
    }

    .gamer-btn {
        width: calc((33vw) - 20px);
        gap: 1px;
    }



}