/* common shared styles */
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-praymari {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: white;
    margin-top: 40px;
}

.multy-color-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Linear {
    color: #FF42A5;
}

.headign {
    color: #0B0223;
    font-size: 48px;
    text-align: center;
    padding-bottom: 30px;
}




/* navbar styles */
.nav-container,
.nav-container ul,
.nav-container h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-container h3 {
    width: 50%;
    text-align: center;
}

.nav-container ul {
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}

.yt {
    color: red;
}


/* banner section styles */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content-container {
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    text-align: center;
}



.banner-content-container h3 {
    font-size: 5.5rem;
}

.banner-content-container p {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.banner-second-btn {
    background: #4EC5F7;
}

.banner-image-container img {
    width: 100%;
}








/* online Gamer Video Styles */

.oline-gamers-video-container {
    text-align: center;
    margin-top: 100px;
}

.oline-gamers-video-container>p {
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 40px;

}

.video-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    justify-content: center;
}

.online-video-card-image-container {
    position: relative;
    display: inline-block;
}

.online-gamer-video-card img {
    width: 100%;
    border: 5px solid transparent;
    border-radius: 22px;
}

.play-hover {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}



.game-video-Play-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
}

.online-video-card-image-container:hover {
    cursor: pointer;
}

.online-video-card-image-container:hover .online-video-card-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    border: 5px solid red;
}

.online-video-card-image-container:hover .play-hover {
    opacity: 1;
}

.online-gamer-video-card p {
    text-align: center;
    max-width: 290px;
}






/* play Game online now section styles */

.play-game-online-now {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.play-game-online-now-image-container {
    width: 40%;
}

.play-game-online-now-image {
    width: 100%;
}

.play-now-image-postion {
    position: relative;
    bottom: 120px;
    left: 400px;
    width: 40%;
}

.play-game-online-now-content-container {
    width: 40%;
}

.play-game-online-now-content-container>p {
    color: #534C64;
    font-size: 1.1rem;

}






/* Gamer-button related styles */

.gamers-buttons-container {
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.gamer-btn {
    flex-basis: 17%;
    border-radius: 50px;
    background: fuchsia;
    box-shadow: 5px #4EC5F7;
    border: 2px solid transparent;
}

.gamer-btn,
.gamer-btn a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}

.gamer-btn img {
    width: 50px;
    height: 50px;
}

.gamer-btn:hover {
    cursor: pointer;
    background: aquamarine;
    border: 2px solid violet;
}






/* Footer Section styles */

footer {
    background: #0B0223;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer h3 {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3>img {
    padding-right: 10px;
}

footer ul {
    padding: 60px 0;
}

footer ul,
footer ul div {
    list-style: none;
    display: flex;
    gap: 60px;
}

.footer-icons-social,
.footer-icons-social div {
    color: #FFF;
    display: flex;
    gap: 40px;
}

.footer-font-color-gray {
    color: rgba(255, 255, 255, 0.60);
}

.our-policy-list {
    padding-bottom: 25px;
}

.our-policy-list,
.our-policy-list div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-pricvecy-text {
    padding-bottom: 120px;
}